<!DOCTYPE html>
<html lang="en">
<head th:fragment="footer">
    <meta charset="UTF-8">
    <title>Footer · BlockTracker</title>
</head>
<body>
<div th:fragment="footer">
    <hr>
    <footer class="container py-5">
        <div class="row">
            <div id="1" class="col-md-3 col-6">
                <a class="d-block mb-3 text-body-secondary">BlockTracker by vitaliistf (2023)</a>
                <a class="d-block mb-3 text-body-secondary">Powered by KuCoin</a>
            </div>
            <div id="2" class="col-md-9 col-6">
                <div class="row text-center">
                    <h5>Creator links:</h5>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-6">
                        <a class="link-secondary text-decoration-none" href="https://github.com/Vitaliistf">GitHub</a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a class="link-secondary text-decoration-none"
                           href="https://www.linkedin.com/in/vitalii-stefaniv-60b878251">LinkedIn</a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a class="link-secondary text-decoration-none" href="mailto:deosplayt@gmail.com">Email</a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a class="link-secondary text-decoration-none" href="https://t.me/vitaliistf">Telegram</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>