<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Coming soon · BlockTracker</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/short_logo_icon_32.png" sizes="32x32" type="image/png">
</head>
<div th:replace="common/navbar :: navbar"></div>
<body>
<div class="higher-block" data-bs-theme="dark">
    <div class="text-center">
        <p class="fw-bold text-danger">Oops!</p>
        <h1 class="display-1 fw-bold">Coming soon.</h1>
        <p class="fs-3">We're working on something awesome!</p>
        <a href="/" class="btn btn-outline-dark">Home</a>
    </div>
</div>
</body>
<div th:replace="common/footer :: footer"></div>
</html>