<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password recovery · BlockTracker</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/short_logo_icon_32.png" sizes="32x32" type="image/png">
</head>
<body>
<div th:replace="common/navbar :: navbar"></div>
<form name = "f" th:method="POST" th:action="@{/process_recovery}" th:object="${user}" class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Password recovery</h2>
                            <p class="text-white-50 mb-5">Type your email, new password, then confirm that this account
                                is yours, and you will be able to log in!</p>
                            <div th:if="${message}" th:text="${message}" class="alert alert-light">
                                <strong class="mx-2">Message</strong>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <input placeholder="Email" name="username" type="text" th:field="*{email}" id="username"
                                       class="form-control form-control-lg"/>
                            </div>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">
                                <strong class="mx-2">Email error.</strong>
                            </p>
                            <div class="form-outline form-white mb-4">
                                <input placeholder="New password" name="password" type="password" th:field="*{password}"
                                       id="password" class="form-control form-control-lg"/>
                            </div>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="alert alert-danger">
                                <strong class="mx-2">Password error.</strong>
                            </p>
                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div th:replace="common/footer :: footer"></div>
</body>
</html>
