<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Confirmation · BlockTracker</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/short_logo_icon_32.png" sizes="32x32" type="image/png">
</head>
<div th:replace="common/navbar :: navbar"></div>
<body>
<div class="higher-block">
    <div class="text-center">
        <h1 class="display-2 fw-bold">Operation is now confirmed.</h1>
        <p class="fs-4">You may log in to your account.</p>
        <a href="/login" class="btn btn-outline-dark">Login</a>
    </div>
</div>
</body>
<div th:replace="common/footer :: footer"></div>
</html>